.projects {
  text-align: center;
  padding: 20px;
  
}

.projects h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #f9f9f9;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card {
  width: 300px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.project-card:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.project-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.project-card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.project-card p {
  font-size: 16px;
}

.project-card button {
  background-color: #8E92EE;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  
}

.project-card button:hover {
  background-color: #777adc;
}


.button-show-more {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.button-show-more:hover {
  background-color: #0056b3;
}
